.more {
    padding-bottom: 90px;

    &__conteiner {
        margin-top: 130px;
    }

    &__body {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        position: relative;
        min-height: 669px;
        padding: 20px 0;   
    }

    &__img {
        min-height: 649px;
        max-height: 669px;
        position: absolute;
        z-index: -1;
        left: -100px;
        top: 0;
        transition: 0.2s ease-in-out;
        & img {
            height: 100%;            
        }
     }

    &__content {
        flex: 0 1 500px;
        transition: 0.3s ease-in-out;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 50px;  
        text-align: justify;
        max-width: 460px;
    }
}

@media (max-width: 1044px) {
    .more {
        &__img {
            opacity: 0.5;
        }
        &__conteiner {
            margin-top: 40px;
        }
    }
}
@media (max-width: 900px) {
    .more {
        &__body {
            min-height: 569px;
        }
        &__body{
            justify-content: center;
        }
        &__content {
            flex: 0 1 80%;
        }
        &__img {
            min-height: 569px;
            opacity: 0.3;
        }
        &__text {
                max-width: 100%;
        }
    }
}
@media (max-width: 640px) {
    .more {
		padding-bottom: 60px;
    }
}
@media (max-width: 550px) {
    .more {
        &__content {
            flex: 0 1 100%;
            & .__btn {
                display: block;
                width: 100%;
             }
        }
    }
}
@media (max-width: 350px) {
    .more {
		padding-bottom: 30px;
        &__conteiner {
            margin-top: 10px;
        }
        &__title {
            & h2 {
                font-size: 30px;                
            }
        }
        
    }
}