.card {
    padding: 90px 0 58px 0;

    &__body {
    }

    &__ittems {
    }

    &__ittem {
    }

    &__ittem-body {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        text-align: center;
        padding: 30px;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.001) -41.9%, #ffffff25 115.68%);
        & *:not(:last-child) {
            margin-bottom: 30px;
        }     
    }

    &__logo {
        flex-grow: 1;
        align-self: center;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: calc(28 / 19 * 100%);
    }

    &__txt {
        font-size: 14px;
        font-weight: 500;
        line-height: calc(33 / 19 * 100%);
    }
}
@media (max-width: 640px) {
	.card {
		padding: 60px 0 28px 0;
	}
}
@media (max-width: 350px) {
	.card {
		padding: 20px 0 28px 0;
	}
}
